main h1 {
    width: 100%;
    height: 1em;
    text-align: center;
}

#email-form {
    display: flex;
    flex-direction: column;
}

#email-form input[type=submit] {
    margin-top: 10px;
    width: 50%;
    align-self: center;
    background-color: #31708E;
}